<div class="card" style="width: 100%;">
    <div class="card-body shadow-lg">
        <div class="nav-left">
            <img src="../../assets/img/circle-cropped.png" alt="Logo" style="width:35px;">
            <h5 class = "card-title">AssessMe - The final touch for your preparations</h5>
        </div>

        <div class="nav-right">
                <ul style="list-style: none;">
                    <li>Name : Prithviraj Desai</li>
                    <li>College : XYZ PU University</li>
                </ul>
        </div>
  </div>
  </div>
  <div class="card" style="width: 100%;">
    <div class="card-subbody shadow-lg">
      <h6 class="card-subtitle">JEE MAINS</h6>
      <button mat-raised-button class = "subjects" >Physics</button>
      <button mat-raised-button class = "subjects" >Chemistry</button>
      <button mat-raised-button class = "subjects" >Maths</button>
    </div>
</div>

<div class="card test-question">
    <div class="card-body content-question">
      <h5 class="card-title">Question 1</h5>
      <hr width=100%;>
      <h6 class="card-subtitle">What is Your language</h6>
    </div>
  </div>

  <div class="card" style="width: 100%;">
    <div class="card-subbody shadow-lg">
      <button mat-raised-button class = "subjects" >Save & Next</button>
      <button mat-raised-button class = "subjects" >Save & Mark for Review</button>
      <button mat-raised-button class = "subjects" >Clear Response</button>
      <button mat-raised-button class = "subjects" >Mark for Review & Next</button>
    </div>
</div>