<div id = "test-navbar" class="card" style="width: 98%; border: none; background-color: #e8eaed;">
    <div class="card-body shadow-lg">
        <div class="nav-left">
            <img src="../../assets/img/circle-cropped.png" alt="Logo" style="width:35px;">
            <h5 class = "card-title"><u>AssessMe - The final touch for your preparations</u></h5>
        </div>

        <div class="nav-right">
                <ul style="list-style: none;">
                    <li style="color: #606263; margin: 0;">Name : Prithviraj Desai</li>
                    <hr style="margin: 5px;">
                    <li style="color: #606263; margin: 0;">College : XYZ PU University</li>
                </ul>
        </div>
  </div>
  </div>

<div>
    <div id="left">
        <div class="card test-navig" style="width: 80%; background-color: #FAEDA8;">
            <div class="card-subbody shadow-lg">
              <h6 class="card-subtitle">JEE MAINS</h6>
              <button mat-raised-button class = "subjects next-prev-sub" (click) = "navigate(1)" >Physics</button>
              <button mat-raised-button class = "subjects next-prev-sub" (click) = "navigate(21)">Chemistry</button>
              <button mat-raised-button class = "subjects next-prev-sub" (click) = "navigate(41)">Maths</button>
              <h6 class="card-subtitle">Time left: 02:59:59</h6>
              
            </div>
        </div>
        
        <div class="card test-question">
            <div class="card-body content-question">
              <h5 class="card-title">Question No. {{index+1}}</h5>
              <hr width=100%; style="margin: 20px;">
              <h6 class="card-subtitle">{{question[index].que}}</h6>
              <div *ngIf = "index <= 4">
                  <div *ngFor="let choice of question[index].choices">
                      <label for="choice_{{choice}}">
                        <input id="choice_{{choice}}" [value]='choice' type="radio" name="choices" [(ngModel)]="ans">
                        {{choice}}
                      </label>
                    </div>
                  </div>
                  <div *ngIf = "index > 4">
                    <input type="text" [(ngModel)] = "ans" placeholder="Type your answer here">
                  </div>
                </div>
        </div>
        
          <div class="card test-navig" style="width: 80%;">
            <div class="card-subbody shadow-lg">
              <button mat-raised-button class = "nav-buttons savenext-button" (click) = "savenext(index)" >Save & Next</button>
              <button mat-raised-button class = "nav-buttons save-mark-rev" (click) = "save_mark_review(index)" >Save & Mark for Review</button>
              <button mat-raised-button class = "nav-buttons clear-response" (click) = "reset()" >Clear Response</button>
              <button mat-raised-button class = "nav-buttons mark-rev" (click) = "mark_review(index)" >Mark for Review & Next</button>
            </div>
        </div>
        
        <div class = "card test-navig" style=" width: 80%; background-color:#FAEDA8;">
          <div class="card-subbody shadow-lg">
            <button mat-raised-button class = "nav-buttons next-prev-sub" (click) = "prev()" >&lt;&lt; Back</button>
            <button mat-raised-button class = "nav-buttons next-prev-sub" (click) = "next()" >Next &gt;&gt;</button>
            <button mat-raised-button class = "nav-buttons savenext-button" style="margin-left: 220px;">Submit</button>
          </div>
        </div>
    </div>

    <div id = "right" style="height: 500px;overflow-y:scroll;">
        <div style="border: solid 1px black; width: 100%">
            <div class="not-visted">{{sum_not_visited}}</div><span class = "explaination">Not visited</span>
            <div class="not-answered">{{sum_not_answered}}</div><span class = "explaination">Not Answered</span> <br>
            <div class="answered">{{sum_answered}}</div><span class = "explaination">Answered</span>
            <div class="marked-for-review">{{sum_mark_rev}}</div><span class = "explaination">Marked for Review</span> <br>
            <div class="answered-marked-for-review">{{sum_save_mark_rev}}</div>
            <span class = "explaination">
                <span>Answered and Marked for Review</span>
            </span>
        

        </div>
        <div class="question-number">
            <hr width="100%">
            <h5 style="text-align: center;">Section A</h5>
            <ul class="pagination">
                <li class="page-item"><a attr.data-status = "{{status[0]}}" class="page-link" (click) = "navigate(1)">01</a></li>
                <li class="page-item"><a attr.data-status = "{{status[1]}}" class="page-link" (click) = "navigate(2)">02</a></li>
                <li class="page-item"><a attr.data-status = "{{status[2]}}" class="page-link" (click) = "navigate(3)">03</a></li>
                <li class="page-item"><a attr.data-status = "{{status[3]}}" class="page-link" (click) = "navigate(4)">04</a></li>
                <li class="page-item"><a attr.data-status = "{{status[4]}}" class="page-link" (click) = "navigate(5)">05</a></li>
                <li class="page-item"><a attr.data-status = "{{status[5]}}" class="page-link" (click) = "navigate(6)">06</a></li>
                <li class="page-item"><a attr.data-status = "{{status[6]}}" class="page-link" (click) = "navigate(7)">07</a></li>
                <li class="page-item"><a attr.data-status = "{{status[7]}}" class="page-link" (click) = "navigate(8)">08</a></li>
                <li class="page-item"><a attr.data-status = "{{status[8]}}" class="page-link" (click) = "navigate(9)">09</a></li>
                <li class="page-item"><a attr.data-status = "{{status[9]}}" class="page-link" (click) = "navigate(10)">10</a></li>
              </ul>

              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">11</a></li>
                <li class="page-item"><a class="page-link" href="#">12</a></li>
                <li class="page-item"><a class="page-link" href="#">13</a></li>
                <li class="page-item"><a class="page-link" href="#">14</a></li>
                <li class="page-item"><a class="page-link" href="#">15</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#">17</a></li>
                <li class="page-item"><a class="page-link" href="#">18</a></li>
                <li class="page-item"><a class="page-link" href="#">19</a></li>
                <li class="page-item"><a class="page-link" href="#">20</a></li>
              </ul>

              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">21</a></li>
                <li class="page-item"><a class="page-link" href="#">22</a></li>
                <li class="page-item"><a class="page-link" href="#">23</a></li>
                <li class="page-item"><a class="page-link" href="#">24</a></li>
                <li class="page-item"><a class="page-link" href="#">25</a></li>
                <li class="page-item"><a class="page-link" href="#">26</a></li>
                <li class="page-item"><a class="page-link" href="#">27</a></li>
                <li class="page-item"><a class="page-link" href="#">28</a></li>
                <li class="page-item"><a class="page-link" href="#">29</a></li>
                <li class="page-item"><a class="page-link" href="#">30</a></li>
              </ul>

              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">31</a></li>
                <li class="page-item"><a class="page-link" href="#">32</a></li>
                <li class="page-item"><a class="page-link" href="#">33</a></li>
                <li class="page-item"><a class="page-link" href="#">34</a></li>
                <li class="page-item"><a class="page-link" href="#">35</a></li>
                <li class="page-item"><a class="page-link" href="#">36</a></li>
                <li class="page-item"><a class="page-link" href="#">37</a></li>
                <li class="page-item"><a class="page-link" href="#">38</a></li>
                <li class="page-item"><a class="page-link" href="#">39</a></li>
                <li class="page-item"><a class="page-link" href="#">40</a></li>
              </ul>

              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">41</a></li>
                <li class="page-item"><a class="page-link" href="#">42</a></li>
                <li class="page-item"><a class="page-link" href="#">43</a></li>
                <li class="page-item"><a class="page-link" href="#">44</a></li>
                <li class="page-item"><a class="page-link" href="#">45</a></li>
                <li class="page-item"><a class="page-link" href="#">46</a></li>
                <li class="page-item"><a class="page-link" href="#">47</a></li>
                <li class="page-item"><a class="page-link" href="#">48</a></li>
                <li class="page-item"><a class="page-link" href="#">49</a></li>
                <li class="page-item"><a class="page-link" href="#">50</a></li>
              </ul>

              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">51</a></li>
                <li class="page-item"><a class="page-link" href="#">52</a></li>
                <li class="page-item"><a class="page-link" href="#">53</a></li>
                <li class="page-item"><a class="page-link" href="#">54</a></li>
                <li class="page-item"><a class="page-link" href="#">55</a></li>
                <li class="page-item"><a class="page-link" href="#">56</a></li>
                <li class="page-item"><a class="page-link" href="#">57</a></li>
                <li class="page-item"><a class="page-link" href="#">58</a></li>
                <li class="page-item"><a class="page-link" href="#">59</a></li>
                <li class="page-item"><a class="page-link" href="#">60</a></li>
              </ul>

              <hr width="100%">
              <h5 style="text-align: center;">Section B</h5>
              <h6 style="text-align: center; margin-left : -40px; font-size: small;">Numerical Type Questions</h6>


              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">61</a></li>
                <li class="page-item"><a class="page-link" href="#">62</a></li>
                <li class="page-item"><a class="page-link" href="#">63</a></li>
                <li class="page-item"><a class="page-link" href="#">64</a></li>
                <li class="page-item"><a class="page-link" href="#">65</a></li>
                <li class="page-item"><a class="page-link" href="#">66</a></li>
                <li class="page-item"><a class="page-link" href="#">67</a></li>
                <li class="page-item"><a class="page-link" href="#">68</a></li>
                <li class="page-item"><a class="page-link" href="#">69</a></li>
                <li class="page-item"><a class="page-link" href="#">70</a></li>
              </ul>

              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">71</a></li>
                <li class="page-item"><a class="page-link" href="#">72</a></li>
                <li class="page-item"><a class="page-link" href="#">73</a></li>
                <li class="page-item"><a class="page-link" href="#">74</a></li>
                <li class="page-item"><a class="page-link" href="#">75</a></li>
                <li class="page-item"><a class="page-link" href="#">76</a></li>
                <li class="page-item"><a class="page-link" href="#">77</a></li>
                <li class="page-item"><a class="page-link" href="#">78</a></li>
                <li class="page-item"><a class="page-link" href="#">79</a></li>
                <li class="page-item"><a class="page-link" href="#">80</a></li>
              </ul>

              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">81</a></li>
                <li class="page-item"><a class="page-link" href="#">82</a></li>
                <li class="page-item"><a class="page-link" href="#">83</a></li>
                <li class="page-item"><a class="page-link" href="#">84</a></li>
                <li class="page-item"><a class="page-link" href="#">85</a></li>
                <li class="page-item"><a class="page-link" href="#">86</a></li>
                <li class="page-item"><a class="page-link" href="#">87</a></li>
                <li class="page-item"><a class="page-link" href="#">88</a></li>
                <li class="page-item"><a class="page-link" href="#">89</a></li>
                <li class="page-item"><a class="page-link" href="#">90</a></li>
              </ul>
        </div>
        
    </div>
</div>