.row {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding:15px;
    width: auto
}

.full-page {
    width : 100;
    height: 100vh;
}

.profile-navbar {
    width: 100;
    height: auto;
    background-color: #e8eaed;
    
}

.nav-left {
    float: left;
    display: flex;
    margin: 5px;
}

.nav-right {
    float: right;
    margin: 5px;
    margin-right: 10px;
}
.card-title {
    margin: 5px;
    padding: 5px;
}