<div class="full-page" tabindex = "1" (contextmenu) = "onRightClick()" oncopy = "return false" (keydown)="disable($event)">
    <div class="row justify-content-center">
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JEE MAINS MOCK TEST - 1</h5>
              <p class="card-text">Click on the 'Take the Test' button to start the JEE Mains Mock Test.</p>
              <a (click) = "submit(pass1)" class="btn btn-primary">Take the Test</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JEE MAINS MOCK TEST - 2</h5>
              <p class="card-text">Click on the 'Take the Test' button to start the JEE Mains Mock Test.</p>
              <a (click) = "submit(pass2)" class="btn btn-primary">Take the Test</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JEE MAINS MOCK TEST - 3</h5>
              <p class="card-text">Click on the 'Take the Test' button to start the JEE Mains Mock Test.</p>
              <a (click) = "submit(pass3)" class="btn btn-primary">Take the Test</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JEE MAINS MOCK TEST - 4</h5>
              <p class="card-text">Click on the 'Take the Test' button to start the JEE Mains Mock Test.</p>
              <a (click) = "submit(pass3)" class="btn btn-primary">Take the Test</a>
            </div>
          </div>
        </div>
      </div>
    
</div>