
<div class="full-page" tabindex = "1" (contextmenu) = "onRightClick()" oncopy = "return false" (keydown)="disable($event)">
  <div class="profile-navbar">
    <div class="nav-left">
      <img src="../../assets/img/circle-cropped.png" alt="Logo" style="width:50px;">
      <h5 class = "card-title"><u>AssessMe - The final touch for your preparations</u></h5>
  </div>

  <div class="nav-right">
    <ul style="list-style: none;">
        <li style="color: #606263; margin: 0;">Name : {{username}}</li>
        <hr style="margin: 5px;">
        <li style="color: #606263; margin: 0;">College : {{college}}</li>
    </ul>
</div>
  </div>


    <div class="row justify-content-center" style="clear: both;">
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JEE MAINS MOCK TEST - 1</h5>
              <p class="card-text">Click on the 'Take the Test' button to start the JEE Mains Mock Test.</p>
              <a (click) = "submit(test1, pass1)" class="btn btn-primary" style="color: white;">Take the Test</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JEE MAINS MOCK TEST - 2</h5>
              <p class="card-text">Click on the 'Take the Test' button to start the JEE Mains Mock Test.</p>
              <a (click) = "submit(test2, pass2)" class="btn btn-primary" style="color: white;">Take the Test</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JEE MAINS MOCK TEST - 3</h5>
              <p class="card-text">Click on the 'Take the Test' button to start the JEE Mains Mock Test.</p>
              <a (click) = "submit(test3, pass3)" class="btn btn-primary" style="color: white;">Take the Test</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JEE MAINS MOCK TEST - 4</h5>
              <p class="card-text">Click on the 'Take the Test' button to start the JEE Mains Mock Test.</p>
              <a (click) = "submit(test4, pass3)" class="btn btn-primary" style="color: white;">Take the Test</a>
            </div>
          </div>
        </div>
      </div>
    
</div>

