<div class="register-photo" style="font-family: Montserrat, sans-serif;">
    <div class="form-container" style="height: 570px;">
      <div class="image-holder"></div>
      <form>
        <h2 class="text-center"><strong>Create</strong> an account.</h2>
        <div class="form-group">
          <input class="form-control" type="text" name="fullName" placeholder="Full Name" id="fullName"
           required>  
         
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="email" placeholder="Email (Eg. john@gmail.com)" 
          required>
          
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="Password"
           required>
          
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password-repeat" placeholder="Confirm Password"
                 required>
          
        </div>
        <div class="form-group">
          <input class="form-control" type="tel" name="tel" placeholder="Contact Number" required minlength="10"
                 maxLength="10" >
          
        </div>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox">I agree to the license terms.
            </label>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
        </div>
        <a class="already" routerLink="/login" routerLinkActive="active">You already have an account? Login here.</a>
      </form>
    </div>
    <router-outlet></router-outlet>
  </div>
<app-footer></app-footer>